### Extracting Tesla Stock Data Using yfinance

In [490]:
# Import the yfinance library using the alias yf
import yfinance as yf

In [491]:
# Create a Ticker object for the Tesla stock
tesla = yf.Ticker("TSLA")

In [492]:
# Download the historical data for Tesla Stock
tesla_stock = tesla.history(period="max")

In [493]:
# Display the data that was obtained
tesla_stock.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

 ### Extracting Tesla Revenue Data Using Webscraping

In [494]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [495]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [496]:
# Send the HTML request to the web page
url = "https://stockanalysis.com/stocks/tsla/revenue/"

In [ ]:
# Utilize the request library and extract the HTML using .text method
data = requests.get(url).text
print(data)

In [498]:
# Parse the data using BeautifulSoup
soup = BeautifulSoup(data, 'html5lib')

In [499]:
tesla_revenue = pd.DataFrame(columns=["Fiscal Year End", "Revenue", "Change", "Growth"])
# loop through each row and locate all the column values for each row
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    fiscal_year_end = col[0].text
    revenue = col[1].text
    change = col[2].text
    growth = col[3].text
    tesla_revenue = tesla_revenue.append({"Fiscal Year End":fiscal_year_end, "Revenue":revenue, "Change":change, "Growth":growth, }, ignore_index=True)

In [500]:
# Display the data that was obtained
tesla_revenue.head()

  Fiscal Year End Revenue  Change  Growth
0    Dec 31, 2022  81.46B  27.64B  51.35%
1    Dec 31, 2021  53.82B  22.29B  70.67%
2    Dec 31, 2020  31.54B   6.96B  28.31%
3    Dec 31, 2019  24.58B   3.12B  14.52%
4    Dec 31, 2018  21.46B   9.70B  82.51%

 ### Extracting GameStop Stock Data Using yfinance

In [501]:
# Import the yfinance library using the alias yf
import yfinance as yf

In [502]:
# Create a Ticker object for the Tesla stock
gamestop = yf.Ticker("GME")

In [503]:
# Download the historical data for Tesla Stock
gamestop_stock = tesla.history(period="max")

In [504]:
# Display the data that was obtained
gamestop_stock.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

### Extracting GameStop Revenue Data Using Webscraping

In [505]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [506]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [507]:
# Send the HTML request to the web page
url = "https://companiesmarketcap.com/gamestop/revenue/"

In [ ]:
# Utilize the request library and extract the HTML using .text method
data = requests.get(url).text
print(data)

In [509]:
# Parse the data using BeautifulSoup
soup = BeautifulSoup(data, 'html5lib')

In [510]:
gamestop_revenue = pd.DataFrame(columns=["Year", "Revenue", "Change"])
# loop through each row and locate all the column values for each row
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    year = col[0].text
    revenue = col[1].text
    change = col[2].text
    gamestop_revenue = gamestop_revenue.append({"Year":year, "Revenue":revenue, "Change":change}, ignore_index=True)

In [511]:
# Display the data that was obtained
gamestop_revenue.head()

         Year  Revenue   Change
0  2023 (TTM)  $5.81 B   -2.37%
1        2022  $5.95 B    1.29%
2        2021  $5.87 B   13.89%
3        2020  $5.16 B  -29.63%
4        2019  $7.33 B  -19.99%

### Tesla Stock and Revenue Dashboard

In [ ]:
!pip install yfinance==0.1.67
!mamba install bs4==4.10.0 -y
!pip install nbformat==4.2.0

import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [513]:
def make_graph(tesla_stock, tesla_revenue, tesla):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Price", "Revenue"), vertical_spacing = .3)
    tesla_stock_specific = tesla_stock[tesla_stock.Date <= '2010--06-29']
    tesla_revenue_specific = tesla_revenue[tesla_revenue.Date <= '2022-12-31']
    fig.add_trace(go.Scatter(x=pd.to_datetime(tesla_stock_specific.Date, infer_datetime_format=True), y=tesla_stock_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(tesla_revenue_specific.Date, infer_datetime_format=True), y=tesla_revenue.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

### GameStop Stock and Revenue Dashboard

In [ ]:
!pip install yfinance==0.1.67
!mamba install bs4==4.10.0 -y
!pip install nbformat==4.2.0

import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [515]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [516]:
def make_graph(gamestop_stock, gamestop_revenue, gamestop):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    gamestop_stock_specific = gamestop_stock[gamestop_stock.Date <= '2021--06-14']
    gamestop_revenue_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(gamestop_stock_specific.Date, infer_datetime_format=True), y=gamestop_stock_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(gamestop_revenue_specific.Date, infer_datetime_format=True), y=gamestop_revenue_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()